[submodule "mods/intllib"]
	path = mods/intllib
	url = git@github.com:minetest-mods/intllib.git
[submodule "mods/farming"]
	path = mods/farming
	url = https://notabug.org/TenPlus1/Farming.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = git@gitlab.com:VanessaE/unified_inventory.git
[submodule "mods/craftguide"]
	path = mods/craftguide
	url = git@github.com:minetest-mods/craftguide.git
[submodule "mods/protector"]
	path = mods/protector
	url = https://notabug.org/TenPlus1/protector.git
[submodule "mods/mobs_animal"]
	path = mods/mobs_animal
	url = git@github.com:tenplus1/mobs_animal.git
[submodule "mods/mobs_redo"]
	path = mods/mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo.git
[submodule "mods/WorldEdit"]
	path = mods/WorldEdit
	url = git@github.com:Uberi/Minetest-WorldEdit.git
[submodule "mods/xban2"]
	path = mods/xban2
	url = git@github.com:minetest-mods/xban2.git
[submodule "mods/areas"]
	path = mods/areas
	url = git@github.com:ShadowNinja/areas.git
[submodule "mods/homedecor_mp"]
	path = mods/homedecor_mp
	url = https://gitlab.com/VanessaE/homedecor_modpack.git
[submodule "mods/hud_hunger"]
	path = mods/hud_hunger
	url = https://notabug.org/codexp/hud_hunger.git
[submodule "mods/3d_armor_mp"]
	path = mods/3d_armor_mp
	url = git@github.com:codexp/minetest-3d_armor.git
[submodule "mods/easyvend"]
	path = mods/easyvend
	url = http://repo.or.cz/minetest_easyvend.git
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = git@github.com:codexp/moreblocks.git
[submodule "mods/signs_lib"]
	path = mods/signs_lib
	url = git@github.com:minetest-mods/signs_lib.git
[submodule "mods/spawn"]
	path = mods/spawn
	url = git@github.com:cheapie/spawn.git
[submodule "mods/travelnet"]
	path = mods/travelnet
	url = git@github.com:russian-harbor/travelnet.git
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = git@github.com:minetest-mods/unifieddyes.git
[submodule "mods/map"]
	path = mods/map
	url = git@github.com:russian-harbor/map.git
[submodule "mods/advtrains_mp"]
	path = mods/advtrains_mp
	url = https://git.bananach.space/advtrains.git
[submodule "mods/mesecons_mp"]
	path = mods/mesecons_mp
	url = git@github.com:minetest-mods/mesecons.git
[submodule "mods/digilines"]
	path = mods/digilines
	url = git@github.com:minetest-mods/digilines.git
